In [1]:
import pandas as pd
import os
import requests
import env
import wrangle as w

In [2]:
# Example usage:
app_token = env.app_token
year_to_retrieve = '2021'
max_observations_to_retrieve = 2000  # Specify the maximum number of observations to retrieve

In [3]:
data_df = w.get_data(year_to_retrieve, app_token, max_observations_to_retrieve)
data_df.head()

Data for 2021 retrieved and saved to ny_collision2021.csv.

,crash_date,crash_time,latitude,longitude,location,on_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,...,borough,zip_code,off_street_name,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code_4,vehicle_type_code_5
0,2021-01-01T00:00:00.000,20:00,40.83398,-73.82635,"{'latitude': '40.83398', 'longitude': '-73.826...",BRUCKNER EXPRESSWAY,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01T00:00:00.000,5:28,40.6873,-73.973656,"{'latitude': '40.6873', 'longitude': '-73.9736...",LAFAYETTE AVENUE,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01T00:00:00.000,6:00,NaN,NaN,NaN,WEST SHORE EXPRESSWAY,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01T00:00:00.000,19:30,40.8827000,-73.8927300,"{'latitude': '40.8827', 'longitude': '-73.89273'}",SEDGWICK AVENUE,0,0,0,0,...,BRONX,10463,VANCORTLANDT AVENUE WEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01T00:00:00.000,7:40,40.6379100,-73.9786400,"{'latitude': '40.63791', 'longitude': '-73.978...",CORTELYOU ROAD,0,0,0,0,...,BROOKLYN,11218,MC DONALD AVENUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_date                     2000 non-null   object
 1   crash_time                     2000 non-null   object
 2   latitude                       1859 non-null   object
 3   longitude                      1859 non-null   object
 4   location                       1859 non-null   object
 5   on_street_name                 1449 non-null   object
 6   number_of_persons_injured      2000 non-null   object
 7   number_of_persons_killed       2000 non-null   object
 8   number_of_pedestrians_injured  2000 non-null   object
 9   number_of_pedestrians_killed   2000 non-null   object
 10  number_of_cyclist_injured      2000 non-null   object
 11  number_of_cyclist_killed       2000 non-null   object
 12  number_of_motorist_injured     2000 non-null   object
 13  number_of_motorist_killed      2000 non-null   object
 14  contributing_factor_vehicle_1  1981 non-null   object
 15  collision_id                   2000 non-null   object
 16  vehicle_type_code1             1970 non-null   object
 17  contributing_factor_vehicle_2  1481 non-null   object
 18  vehicle_type_code2             1275 non-null   object
 19  borough                        1286 non-null   object
 20  zip_code                       1285 non-null   object
 21  off_street_name                887 non-null    object
 22  cross_street_name              551 non-null    object
 23  contributing_factor_vehicle_3  213 non-null    object
 24  vehicle_type_code_3            202 non-null    object
 25  contributing_factor_vehicle_4  65 non-null     object
 26  contributing_factor_vehicle_5  25 non-null     object
 27  vehicle_type_code_4            64 non-null     object
 28  vehicle_type_code_5            24 non-null     object
dtypes: object(29)
memory usage: 453.2+ KB

In [ ]:
# Replace 'env.app_token' with your actual app token
app_token = env.app_token

# Define the base API URL
base_url = 'https://data.cityofnewyork.us/resource/h9gi-nx95.json'

# Initialize an empty list to store all data
all_data = []

# Set the initial offset to 0
offset = 0
batch_size = 1000  # Number of records to fetch per request

In [ ]:
while True:
    # Construct the URL with the app token, date filter, and pagination
    url = f'{base_url}?$where=crash_date between "2023-01-01T00:00:00.000" and "2023-12-31T23:59:59.999"&$$app_token={app_token}&$offset={offset}&$limit={batch_size}'

    # Send an HTTP GET request to the API
    response = requests.get(url)

    # Check if the request was successful
    if response.status_code == 200:
        data = response.json()  # Convert JSON response to Python data
        if len(data) == 0:
            break  # No more data, exit the loop
        all_data.extend(data)  # Add the data to the list
        offset += batch_size  # Increment the offset for the next request
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")
        break

# Create a DataFrame using pandas
df = pd.DataFrame(all_data)